annotated-types
anyio
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
fastapi
fonttools
h11
httpcore
httpx
idna
joblib
kiwisolver
llvmlite
matplotlib
numba
numpy
packaging
pandas
pillow
pydantic
pydantic_core
pyparsing
python-dateutil
python-multipart
pytz
requests
scikit-learn==1.6.1
scipy
seaborn
shap
six
slicer
sniffio
starlette
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
xgboost
